/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      min-width: 320px;
    }
  
    main {
      padding: 16px;
    }
    
    h1 {
      font-size: 30px;
      font-weight: 700;
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
    
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
  
    a {
      color: #357b70;
      -webkit-transition: 0.5s opacity;
      -o-transition: 0.5s opacity;
      transition: 0.5s opacity;
    }
    
    a:hover, a:focus {
      /* No underlining when hovering over a link */
      text-decoration: none;
      opacity: 0.6;
    }
    
    a:active {
      /* selected link */
      color: #489c79;
    }
  
    .button {
      /* overwrites browser defaults */
      /* resets the border */
      border: none;
      display: inline-block;
      /* takes the font from the outer container */
      font-family: inherit;
      /* style button */
      background-color: #357b70;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      /* width of the border, type, color */
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.2s opacity;
      -o-transition: 0.2s opacity;
      transition: 0.2s opacity;
    }
  
    button {
      /* overwrites browser defaults */
      /* resets the border */
      border: none;
      display: inline-block;
      /* takes the font from the outer container */
      font-family: inherit;
      /* style button */
      background-color: #357b70;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      /* width of the border, type, color */
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.2s opacity;
      -o-transition: 0.2s opacity;
      transition: 0.2s opacity;
    }
    
    button:hover,
    button:focus,
    .button:hover,
    .button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
    }
    
    .navigation-list__item--active {
      text-decoration: none;
    }
  
    .profile__portrait {
      float: left;
      width: 250px;
      margin-right: 40px;
      border-radius: 50%;
    }
  
    .profile {
      max-width: 700px;
      margin: 0 auto;
    }
  
    .page-footer {
      clear: both;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
  
    .page-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid #f6f6f6;
    }
  
    .page-header__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 200px;
              flex: 0 1 200px;
    }
  
    .page-header__item:last-child {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: right;
    }
  
    .navigation-list, .about-list {
      list-style: none;
      padding: 0;
    }
  
    .navigation-list li {
      display: inline-block;
      margin-left: 15px;
    }
  
    .project-list {                       /* .grid */
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 8px;
    }
  
    .project-list__item {                 /* .grid__item */
      background-color: #f6f6f6;
      padding: 8px;
      border-radius: 10px;
    }
  
    .main-works {
      -webkit-box-sizing: content-box;
              box-sizing: content-box;            /* To look better(Grid layout)  */
    }
  
    .main-about, .main-works, .main-contact {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
  
    .about-table {
      padding-top: 10px;
      margin: 0 auto;
    }
  
    #contact-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    @media all and (max-width: 500px) {
      .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }
      .page-header {
        border: none;
      }
    }
    @media all and (min-width: 500px) and (max-width: 750px){
      .project-list {
        -ms-grid-columns: 1fr 8px 1fr;
        grid-template-columns: 1fr 1fr;
      }
    }
    @media all and (max-width: 750px) {
      .project-list {
        grid-gap: 10px;
      }
      .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
      }
      h1 {
        font-size: 22px;
      }
      .page-header__item {
        max-height: 70px;
      }
      .page-header {
        padding: 15px;
      }
    }
  
    /* Animations */
  
    @-webkit-keyframes color-change {
      from {
        fill: #edc655;
      }
      to {
        fill: #f76414;
      }
    }
  
    @keyframes color-change {
      from {
        fill: #edc655;
      }
      to {
        fill: #f76414;
      }
    }
  
    .sun {
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-name: color-change;
              animation-name: color-change;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
  
    @-webkit-keyframes cloud-move {
      from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
      }
      to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
      }
    }
  
    @keyframes cloud-move {
      from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
      }
      to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
      }
    }
  
    .cloud-front {
      -webkit-animation: 30s cloud-move infinite alternate linear;
              animation: 30s cloud-move infinite alternate linear;          /* short way */
    }
  
    @-webkit-keyframes cloud-move-reverse {
      from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
      to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
  
    @keyframes cloud-move-reverse {
      from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
      }
      to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
      }
    }
  
    .cloud-back {
      -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
              animation: 34s cloud-move-reverse infinite alternate linear; /* short way */
    }